**/*.iml
**/.idea/
**/.DS_Store
**/target/


**/.settings/
**/.project
**/.factorypath
**/.classpath

BuiltPlugins/
.vs/VSWorkspaceState.json
.vs/GitHub/FileContentIndex/9da01a2d-c65b-4c27-a44e-2f5ebd3cb439.vsidx
.vs/GitHub/FileContentIndex/read.lock
.vs/GitHub/v17/.wsuo
.vs/GitHub/v17/Browse.VC.db
.vscode/settings.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
